h1, h2, h3, h4, p, ul, body {
    margin: 0;
}

ul {
    padding: 0;
}

img {
    width: 100%;
}


.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.fullbleed {
    max-width: 1980px;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
}

header ul li {
    margin-right: 39px;
}

header nav {
    width: 43%
}

header .headerLogo {
    width: 120px;
    display: flex;
    align-items: center;    
}

header .headerNavigation {
    width: 43%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.fa-shopping-bag{
    position: relative;
}

.fa-shopping-bag p {
    position: absolute;
    top: -5px;
    right: -7px;
    background-color: #a8edea;
    font-size: .5rem;
    padding: 3px 5px;
    border-radius: 50%;
}

.fa-shopping-bag,
.fa-search {
    margin-right: 30px;
}

.landingGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 295px;
    background: url('../images/flowers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.landingGallery h2 {
    margin-bottom: 30px;
}

.landingGallery h1 {
    margin-bottom: 64px;
}

.landingGallery a {
    margin-bottom: 231px;
    padding: 10px 40px;
    color: #FFFFFF;
    background-color: #f07f84;
    text-transform: uppercase; 
}
.landingGallery button {
    margin-bottom: 40px;
}

.gallerySlider {
    display: flex;
    align-content: center;
}

.gallerySlider button {
    height:10px;
    width:10px;
    border-radius: 50%;
    background: black;
    border: none;
    margin-right: 10px;
}


.companyInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 113px;
}

.companyInfo h2 {
    margin-bottom: 20px;
}

.companyInfo h1 {
    margin-bottom: 82px;
}

.introh1 {
    position: relative;
}

.introh1 .h1back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: -1;
}

.h1back img {
    margin: auto;
}

.companyInfo p {
    margin-bottom: 134px;
    text-align: center;
}

.siteDeveloper {
    display: flex;
    flex-direction: row;
    margin-bottom: 96px;
}

.allProducts {
    display: flex;
    flex-direction: row;
    min-height: 550px;
    justify-content: space-between
}

.airPlants {
    width: 40.17%;
}

.rightOfAir {
    width: 57.26%;
}

.topOfContainers {
    min-height: 260px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
}

.officePlants,
.housePlants {
    width: 47.76%;
}

.plantContainers {
    min-height: 260px;
}

.popularProductsIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
    padding-bottom: 51px;
}

.productCategory {
    display: flex;
}

.content {
    margin: auto;
    background: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.airPlants {
    background: url("../images/airPlants.png");
}

.officePlants {
    background: url("../images/hangingPlant.jpg")
}

.housePlants {
    background: url("../images/glassPlant.jpg")
}

.plantContainers {
    background: url("../images/2plants.jpg")
}

.popularProductsIntro h2 {
    margin-bottom: 74px;
}

.popularButtons {
    width: 33.58%;
    display: flex;
    justify-content: space-between;
}

.popularProductsGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 98px;
}

.productWrapper {
    width: 17.94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: 15px;
    min-height: 270px;
    width: 100%;
    position: relative
}

.popular1 {
    background: url('../images/popular1.jpg');
}

.popular2 {
    background: url('../images/popular2.jpg');
}

.popular3 {
    background: url('../images/popular3.jpg');
}

.popular4 {
    background: url('../images/popular4.png');
}

.popular5 {
    background: url('../images/popular5.png');
}

.popular6 {
    background: url('../images/popular6.jpg');
}

.popular7 {
    background: url('../images/popular7.png');
}

.popular8 {
    background: url('../images/popular8.jpg');
}

.popular9 {
    background: url('../images/popular9.jpg');
}

.popular10 {
    background: url('../images/popular10.jpg');
}

.product .cart{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(26, 26, 38, .5)
}

.product:hover .cart {
    display: flex;
}

.popularButtons button {
    padding: 0;
    border-bottom: 2px solid red;
}

.popularButtons button:hover {
    border-bottom: 2px solid #888890;
}

.cart a {
    margin: auto;
    padding: 10px 13px;
    background-color: #FFFFFF;
    text-transform: uppercase;
}

.productTags {
    padding-top: 10px;
    padding-right: 10px;
}

.productTags p {
    padding: 3px 8px;
    border-radius: 18px;
    margin-bottom: 5px;
}

.hotTag {
    background-color: #ff9a93;
}

.newTag {
    background-color: #79dad6;
}

.discountTag {
    background-color: #f6b895;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount :nth-of-type(1) {
    margin-right: 10px;
}

.popularProductsGallery>div>p {
    margin-bottom: 16px;
}

.popularProductsGallery h3 {
    margin-bottom: 48px;
}

.popularProductsIntro h2 {
    border-bottom: 4px solid;
    border-image:   linear-gradient(to right, transparent 20%, #A8EDE8 8%, grey 58%, #A8EDC6 45%, transparent 100%) 5;
    
}

.ourBlog h2 {
    width: 400px;
    margin: 0 auto;
    border-bottom: 4px solid;
    border-image:   linear-gradient(to right, transparent 20%, #A8EDE8 8%, grey 58%, #A8EDC6 45%, transparent 100%) 5;
    
}

.newsletter h2 {
    width: 550px;
    margin: 0 auto;
    border-bottom: 4px solid;
    border-image:   linear-gradient(to right, transparent 20%, #A8EDE8 8%, grey 58%, #A8EDC6 45%, transparent 100%) 5;
}

.midPageBreak{
    display: flex;
    flex-direction: row;
    min-height: 620px;
}

.reviewSlider {
    display: flex;
    align-content: center;
    align-items: center;
}

.reviewSlider button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background:#888890;
    border: none;
    margin-right: 10px;
}

.reviewSlider :nth-child(2) {
    height: 50px;
    width: 50px;
}

.customerReviews,
.promoVideo {
    width: 50%;
}

.customerReviews {
    display: flex;
    flex-direction: row;
    background: url('../images/breakLeft.jpg');
}
.customerReviews .content {
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: none;
}

.promoVideo {
    display: flex;
    flex-direction: row;
    background: url('../images/breakRight.jpg')
}

.promoVideo .content {
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:none;
}

.plantsLogo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.review img {
    width: 55px;
    margin-bottom: 30px;
}

.playIcon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    margin-bottom: 51px;
    background-color: #f07f84;
    border: 10px solid rgba(255, 154, 158, 0.3)
} 

.playIcon a {
    margin: auto;
    color: #FFFFFF;
}

.customerReviews h2 {
    margin-bottom: 21px;
    text-align: center;
}

.review h3 {
    margin-bottom: 30px;
}

.review p {
    margin-bottom: 26px;
}

.ourBlog {
    padding-bottom: 53px;
    padding-top: 100px;
}

.ourBlog h2 {
    text-align: center;
    margin-bottom: 82px;
}
.blogPosts {
    display: flex;
    justify-content: space-between;
}

.post {
    width: 31.62%
}

.post img {
    margin-bottom: 20px;
}

.post .date {
    margin-bottom: 18px;
}

.post .title {
    margin-bottom: 25px;
}

.newsletter {
    padding-top: 53px;
    width: 71.88%;
    margin: 0 auto;
    text-align: center;
}

.newsletter h2{
    margin-bottom: 63px;
}

.newsletter p {
    margin-bottom: 72px;
}

.emailSubmission input {
    border: none;
}

.emailSubmission {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #888890;
    padding-bottom: 5px;
}

.ourSponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 108px;
    padding-bottom: 108px;
}

.sponsor {
    width: 11.53%;
}

.authentic {
    background: url('../images/logo1.jpg');
    min-height: 75px;
    background-repeat: no-repeat;
}

.drewville {
     background: url('../images/logo2.jpg');
     background-repeat: no-repeat;
}

.sears {
    background: url('../images/logo3.jpg');
    background-repeat: no-repeat;
}

.yourkshire {
    background: url('../images/logo4.jpg');
    background-repeat: no-repeat;
}

.luigiano {
    background: url('../images/logo5.jpg');
    background-repeat: no-repeat;
}

footer a{
    display: block;
}

footer .wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.mainInfo {
    margin-bottom: 50px;
}

.address {
    margin-bottom: 20px;
}

.phone, 
.email {
    margin-bottom: 16px;
}

.skype {
    margin-bottom: 46px;
}

.contactInfo img,
footer h2 {
    margin-bottom: 54px;
    min-height: 28px;
}

.contactInfo {
    width: 41%;
}

.servicesNavigation {
    width: 14%;
}

.accountNavigation {
    width: 14%;
}

.instagramNavigation {
    width: 23%;
}

.address,
.phone,
.email,
.skype {
    display: flex;
    align-items: center;
}

.instaPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.instaPosts img {
    width: 84px;
    margin-bottom: 8.5px;
}

.paymentMethods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paymentMethods img {
    width: 35px;
}

.contactInfo img {
    width: 120px;
}

.socialIcons I {
    margin-right: 38px;
    font-size: 1.438rem;
}

.socialIcons {
    display: flex;
}
.servicesNavigation a,
.accountNavigation a {
    margin-bottom: 16px;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .wrapper {
        max-width: 900px;
        margin: 0 auto;
    }

    .landingGallery {
        padding-top: 75px;
    }

    .landingGallery h2,
    .landingGallery h1,
    .landingGallery a {
        margin-bottom: 75px;
    }

    .companyInfo {
        padding-top: 50px;
    }

    .companyInfo h1 {
        margin-bottom: 75px;
    }

    .companyInfo p {
        margin-bottom: 50px;
    }
    
    .productWrapper>p {
        min-height: 50px;
    }
    .popularProductsGallery>div>p {
        margin-bottom: 0;
    }

    .popularProductsIntro {
        padding-top: 50px;
    }

    .popularProductsIntro h2 {
        margin-bottom: 50px;
    }

    .ourBlog {
        padding-top: 50px;
    }
    .ourBlog h2 {
        margin-bottom: 50px;
    }
    .ourSponsors {
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 2px solid grey;
    }
    

    .sponsor {
        width: 18%;
    }

    footer .wrapper {
        padding-top: 25px;
    }

}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .wrapper {
        max-width: 750px;
        margin: 0 auto;
    }

    .ourSponsors {
        border-top: none;
        border-bottom: none;
    }

    .navWrapper {
        width: 75%;
    
    }

    .navWrapper ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header ul li {
        margin: 0px;
    }

    .plantsLogo {
        flex-direction: column;
    }

    .allProducts {
        flex-direction: column;
    }
    .airPlants,
    .plantContainers {
        width: 75%;
        min-height: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-self: center;
    }

    .plantContainers {
        margin: 0 auto;
    }

    .airPlants, 
    .topOfContainers {
        margin-bottom: 15px;
    }

    .rightOfAir,
    .topOfContainers {
        width: 100%;
    }

    .officePlants, 
    .housePlants {
        width: 49%;
        background-position: center;
        background-size: cover;
    }

    .productWrapper {
        width: 33%;
    }

    .product {
        background-position: center;
        background-size: cover;
    }

    .popularProductsGallery :last-child {
        width: 75%;
        margin:0 auto;
        text-align: center;
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {
    .wrapper {
        width: 460px;
        margin: 0 auto;
    }

    .topOfContainers {
        flex-direction: column;
    }

    .rightOfAir {
        width: 75%;
        align-self: center;
    }

    .officePlants,
    .housePlants {
        width: 100%;
        min-height: 260px;
    }

    .plantContainers {
        width: 100%;
    }

    .popularButtons {
        width: 67%;
    }

    .productWrapper {
        width: 48%;
    }
    .popularProductsGallery :last-child {
        width: 48%;
    }

    .popularProductsGallery h3 {
        margin-bottom: 0;
    }

    .midPageBreak {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .customerReviews,
    .promoVideo {
        width: 100%;
    }

    .plantsLogo,
    .promoVideo p {
        display: none;
    }

    .promoVideo {
        min-height: 384px;
    }

    .playIcon {
        margin: auto;
    }

    .ourSponsors {
        display: none; 
    }

    footer .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contactInfo,
    .servicesNavigation,
    .accountNavigation,
    .instagramNavigation {
        width: 85%;
    }

    .contactInfo img {
        margin-bottom: 25px;
    }

    .mainInfo {
        margin-bottom: 30px;
    }

    .socialIcons {
        margin-bottom: 30px;
    }
    

    footer h2 {
        margin-bottom: 20px;
    }

    .servicesNavigation {
        margin-bottom: 30px;
    }

    .instagramNavigation {
        display: none;
    }

    .navWrapper {
        display: none;
    }

}

































